.sponsors
    padding: 8.125rem 3.75rem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: #fdd04a
    &-header
        margin-bottom:  2.6875rem
        position: relative
        h2
            font-size: 3rem
        img
            position: absolute
            left: 21%
            bottom: -30%
    &-desc
        width: 40%
        text-align: center
        margin-bottom: 2.5625rem
    &-companies
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        transition: .5s ease-in-out
        &_cards
            width: .13.4%
            height: 5.5625rem
            display: flex
            justify-content: center
            align-items: center
            object-fit: contain
            border-radius: 10px
            transition: .5s ease-in-out
            transform: scale(1)
            img
                width: 100%
            &:hover
                transform: scale(1.05)