@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap')
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    font-family: 'Orbitron', sans-serif

body
    height: 100vh

.container
    width: 100%